.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(63, 86, 94);
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-links a,
nav h3 {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
}

.items-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.item-container {
  width: 25%;
}
@media only screen and (max-width: 768px) {
  .item-container {
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  .item-container {
    width: 100%;
  }
}
